@page
@model ExampleApplication.Pages.Products.IndexModel
@{
    <div class="mt-4">
        <h2>Товары</h2>

        <div class="row">
            <div class="col-12">
                <div>
                    <a href="/Products/Edit">Редактировать товар</a>
                </div>
            </div>
        </div>
    </div>
}
